.div1{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    height: 210px;
}

h1{ 
    color:white;
    text-align: center;
}

.div2{
    color:white;
    text-align: center;
    
    
}

.div3{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    height: 600px;

}

body{
    background-image: url(../../../images/Background.jpg);
}



