<!DOCTYPE html>
{%extends 'index.html'%}


{%block body_block%}

<div class="container">
    <div class="row">
        <div style="padding-left: 70%;">

        </div>
    </div>
    <div class="row">

        <div class="col-8">
            {% for cart_item in cart_items %}
            <div class="card mb-3" style="max-width: 600px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img style="height:200px" src="{{cart_item.product.image.url}}" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{cart_item.product.mobile_name}}</h5>
                            <p class="card-text">{{cart_item.product.price}}</p>
                            <a href="{%url 'placeorder' cart_item.product.id cart_item.id %}" class="btn btn-primary">Place
                                Order</a>
                            <a href="{%url 'removeitem' cart_item.id %}" class="btn btn-danger">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-4">

            <div class="card" style="width: 18rem;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h4>Price Details</h4></li>
                    <li class="list-group-item">No.of items :{{cnt}}</li>
                    <li class="list-group-item">Total Price:Rs. {{total}}</li>

                </ul>
            </div>
        </div>

    </div>

</div>


{% endblock %}

